{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}
    <h1>Create new Review</h1>

    <a class="btn light">{{ include('review/_form.html.twig') }}</a>

    <a class="btn btn-info" href="{{ path('review_index') }}">back to list</a>
{% endblock %}
